@import 'tailwindcss/base';

@layer base {
  :root[data-theme~="dark"] {
    --color-layout-background: #000000;
    --color-layout-foreground: #ECEDEE;
    --color-layout-divider: #ffffff26;
    --color-layout-focus: #006FEE;

    --color-content: #FFFFFF;
    --color-content-1: #FFFFFf;
    --color-content-2: #f4f4f5;
    --color-content-3: #e4e4e7;
    --color-content-4: #d4d4d8;

    --color-default: #71717a;
    --color-default-50: #0B0B0C;
    --color-default-100: #18181b;
    --color-default-200: #27272a;
    --color-default-300: #3f3f46;
    --color-default-400: #52525b;
    --color-default-500: #71717a;
    --color-default-600: #a1a1aa;
    --color-default-700: #d4d4d8;
    --color-default-800: #e4e4e7;
    --color-default-900: #f4f4f5;
    --color-default-950: #fafafa;


    --color-primary: #006FEE;
    --color-primary-50: #000D1C;
    --color-primary-100: #001731;
    --color-primary-200: #002e62;
    --color-primary-300: #004493;
    --color-primary-400: #005bc4;
    --color-primary-500: #006FEE;
    --color-primary-600: #338ef7;
    --color-primary-700: #66aaf9;
    --color-primary-800: #99c7fb;
    --color-primary-900: #cce3fd;
    --color-primary-950: #e6f1fe;


    --color-secondary: #7828c8;
    --color-secondary-50: #0A0311;
    --color-secondary-100: #180828;
    --color-secondary-200: #301050;
    --color-secondary-300: #481878;
    --color-secondary-400: #6020a0;
    --color-secondary-500: #7828c8;
    --color-secondary-600: #9353d3;
    --color-secondary-700: #ae7ede;
    --color-secondary-800: #c9a9e9;
    --color-secondary-900: #e4d4f4;
    --color-secondary-950: #f2eafa;


    --color-success: #17c964;
    --color-success-50: #03190C;
    --color-success-100: #052814;
    --color-success-200: #095028;
    --color-success-300: #0e793c;
    --color-success-400: #12a150;
    --color-success-500: #17c964;
    --color-success-600: #45d483;
    --color-success-700: #74dfa2;
    --color-success-800: #a2e9c1;
    --color-success-900: #d1f4e0;
    --color-success-950: #e8faf0;


    --color-warning: #f5a524;
    --color-warning-50: #1C1204;
    --color-warning-100: #312107;
    --color-warning-200: #62420e;
    --color-warning-300: #936316;
    --color-warning-400: #c4841d;
    --color-warning-500: #f5a524;
    --color-warning-600: #f7b750;
    --color-warning-700: #f9c97c;
    --color-warning-800: #fbdba7;
    --color-warning-900: #fdedd3;
    --color-warning-950: #fefce8;


    --color-danger: #f31260;
    --color-danger-50: #1C020B;
    --color-danger-100: #310413;
    --color-danger-200: #610726;
    --color-danger-300: #920b3a;
    --color-danger-400: #c20e4d;
    --color-danger-500: #f31260;
    --color-danger-600: #f54180;
    --color-danger-700: #f871a0;
    --color-danger-800: #faa0bf;
    --color-danger-900: #fdd0df;
    --color-danger-950: #fee7ef;
  }
}